<h1>Hello, <%=@user.username%></h1>
<%# Create a form object that's going to display all characters associated with this user in a list, and put buttons next to them using a formaction="" attribute for edit and kill %>
<% @characters.each do |character|%>
    <form method="POST" action="/characters/<%=character.id%>">
        <input type="hidden" value="delete" name="_method">
        <%=character.id%>
        name: <%= character.name %><br>
        class: <%= character.character_class %><br>
        race: <%= character.race %><br>
        <button><a href="/characters/<%=character.id%>/edit">Edit</a></button>
        <input type="submit" value="Kill"><br>
        <%end%>
</form>

<form action="/characters/new"><input type="submit" value="create character"></form><br>
<button><a href=<%="/characters"%>>View All</a></button>
<button><a href="/logout">Log out</a></button>

