
<%@character.each do |chars|%>
    <%=chars.name%><br>
    <%=chars.character_class%><br>
    <%=chars.race%><br>
    <label>Strength:</label><%=chars.strength%><br>
    <label>Dexterity:</label><%=chars.dexterity%><br>
    <label>Constitution:</label><%=chars.constitution%><br>
    <label>Intelligence:</label><%=chars.intelligence%><br>
    <label>Wisdom:</label><%=chars.wisdom%><br>
    <label>Charisma:</label><%=chars.charisma%><br>
<%end%>